/* First block (intro block with scroll down). */
#intro {
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("../assets/images/bg-header-desktop.jpg") rgba(0, 0, 0, .4) fixed;
    background-position-x: right;
    background-size: cover;
    background-blend-mode: multiply;
}

#intro h1 {
    color: #fff;
    text-align: center;
    margin-top: calc(50vh - 150px);
    transform: translateY(-50%);
}

.logo {
    display: flex;
    align-items: center;
    height: 150px;
}

.logo-img {
    max-width: 100px;
    max-height: 100px;
}

.logo-text {
    color: #fff;
    font-size: 30px;
}

.scroll-down-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.scroll-down {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    margin: auto;
    background: rgba(200, 200, 200, .3);
}

.scroll-down-button {
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    z-index: 2;
}

.scroll-down-button:hover {
    color: #fff;
}

.scroll-down-pulse {
    animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
    from {
        width: 50px;
        height: 50px;
        opacity: 1;
    }
    0%, 50% {
        opacity: 1;
    }
    to {
        width: 70px;
        height: 70px;
        opacity: 0;
    }
}

/* Second block (services). */
.block-header {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    letter-spacing: .1em;
}

.block-header:after {
    width: 150px;
    height: 3px;
    display: block;
    content: "";
    margin: 30px auto 50px;
    background: #b29a50;
}

.service {
    text-align: center;
}

.service-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto 30px;
}

.service-a {
    background-image: url("../assets/icons/profiles.svg");
}

.service-b {
    background-image: url("../assets/icons/placeholder.svg");
}

.service-c {
    background-image: url("../assets/icons/network.svg");
}

.service-title {
    color: #b29a50;
    margin-bottom: 30px;
}

/* Third block (two columns with overflow image). */
.image-overflow {
    float: right;
    margin-top: -100px;
    margin-right: .9375rem;
    max-width: inherit;
}

.book-meeting {
    color: #fff;
    background: #c69f18;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 100px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .1em;
    display: inline-block;
    margin-top: 50px;
}

/* Fourth block (benefits). */
.benefits-block .row:last-child .item {
    margin-bottom: 0;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.item-icon {
    width: 70px;
    height: 70px;
    margin-right: 30px;
    background-repeat: no-repeat;
}

.icon-planet {
    background-image: url("../assets/icons/worldwide.svg");
}

.icon-call {
    background-image: url("../assets/icons/customer-service.svg");
}

.icon-schedule {
    background-image: url("../assets/icons/inspection.svg");
}

.icon-target {
    background-image: url("../assets/icons/target.svg");
}

.icon-diagram {
    background-image: url("../assets/icons/notepad.svg");
}

.icon-idea {
    background-image: url("../assets/icons/knowledge.svg");
}

.item-title {
    font-size: 1.2em;
}

/* Fifth block (video). */
.iframe-abstract {
    width: 80%;
    border: none;
    margin: auto;
}

.iframe-video-placeholder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c69f18;
    cursor: pointer;
}

.iframe-video-placeholder .rectangle {
    width: 150px;
    height: 80px;
    margin: auto;
    border: 2px solid #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iframe-video-placeholder .rectangle .play {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 0 16px 28px;
    border-color: transparent transparent transparent #fff;
}

.iframe-video {
    display: none;
}

/* Sixth block (partners). */
.partners {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Seventh block (calendar + footer). */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer span {
    font-size: 15px;
}


/**
 * Media MEDIUM.
 */
@media (max-width: 1000px) {
    /* Intro block begin */
    #intro {
        background: url("../assets/images/bg-header-desktop.jpg") rgba(0, 0, 0, .4) fixed;
        background-position-x: right;
        background-size: cover;
    }

    #intro h1 {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .logo {
        margin-left: 30px;
    }

    /* Intro block end */
    /* Second block (services) begin */
    .services-block h2 {
        font-size: 2em;
    }

    .service-icon {
        width: 50px;
        height: 50px;
        margin: 0 auto 20px;
    }

    .service-title {
        color: inherit;
        margin-bottom: 20px;
    }

    /* Second block (services) end */
    /* Sixth block (partners) begin */
    .partners {
        flex-wrap: wrap;
    }

    .partner {
        width: 33.33333333333%;
        text-align: center;
        margin-bottom: 50px;
    }

    /* Sixth block (partners) end */
}

/**
 * Media SMALL.
 */
@media (max-width: 640px) {

    /* Intro block begin */
    #intro {
        background: url("../assets/images/bg-header-mobile.jpg") rgba(0, 0, 0, .4) fixed;
        background-size: cover;
    }

    #intro h1 {
        margin-top: 20px;
        transform: initial;
    }


    .logo {
        align-items: flex-end;
        justify-content: center;
        height: 40vh;
    }

    .scroll-down-wrapper {
        margin-top: 50px;
    }

    /* Intro block end */
    /* Second block (services) begin */
    .service {
        margin-bottom: 50px;
    }

    /* Second block (services) end */
    /* Third block (two columns with overflow image) begin */
    .block-image-overflow {
        margin-top: 40%;
        text-align: center;
    }

    .image-overflow {
        width: 100%;
        margin-top: -60%;
        margin-right: 0;
        padding-bottom: 30px;
    }

    .block-image-overflow h2 {
        font-size: 1.5em;
        margin-bottom: 30px;
    }

    .book-meeting {
        margin: 0 0 30px;
    }

    /* Third block (two columns with overflow image) end */
    /* Fourth block (benefits) begin */
    .item {
        flex-direction: column;
        text-align: center;
    }

    .item-icon {
        margin: 0 0 30px;
    }

    .item-title {
        font-size: 1em;
    }

    /* Fourth block (benefits) end */
    /* Fifth block (video) begin */
    .iframe-video-placeholder .rectangle {
        width: 80px;
        height: 50px;
        border: 1px solid #fff;
    }

    .iframe-video-placeholder .rectangle .play {
        border-width: 8px 0 8px 14px;
    }

    /* Fifth block (video) end */
    /* Sixth block (partners) begin */
    .partner {
        width: 50%;
    }

    /* Sixth block (partners) end */
    /* Seventh block (calendar + footer) begin */
    footer .logo-img {
        display: none;
    }

    /* Seventh block (calendar + footer) end */
}
